aiohttp==3.9.1
aiosignal==1.3.1
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.4.2
async-timeout==4.0.3
attrs==21.2.0
backcall==0.2.0
bleach==4.1.0
certifi==2023.11.17
cffi==1.15.0
charset-normalizer==3.3.2
click==8.1.7
ConfigUpdater==3.2
datasets==2.16.1
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
dill==0.3.7
entrypoints==0.3
filelock==3.13.1
frozenlist==1.4.1
fsspec==2023.10.0
huggingface-hub==0.20.2
idna==3.6
importlib-resources==5.4.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.5.4
jedi==0.18.1
Jinja2==3.0.3
joblib==1.3.2
jsonschema==4.3.0
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==3.1
nltk==3.8.1
notebook==6.4.6
numpy==1.24.4
packaging==21.3
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
platformdirs==3.11.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pyarrow==14.0.2
pyarrow-hotfix==0.6
pycparser==2.21
Pygments==2.10.0
pylint==2.6.0
pyparsing==3.0.6
pyrsistent==0.18.0
PyScaffold==4.5
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==1.11.3
regex==2023.12.25
requests==2.31.0
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.10.1
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
setuptools-scm==8.0.4
six==1.15.0
sympy==1.12
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.2.0
tokenizers==0.15.0
toml==0.10.1
tomli==2.0.1
tomlkit==0.12.3
torch==2.1.2
torchvision==0.16.2
tornado==6.1
tqdm==4.66.1
traitlets==5.1.1
transformers==4.36.2
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
wrapt==1.12.1
xxhash==3.4.1
yarl==1.9.4
zipp==3.6.0
